{% extends "base.html" %}
{% block content %}

<h1>Augmented Reality Headset</h1>

<div class="project-description">
  <button class="accordion"><h2>Overview</h2></button>
  <div id="overview" class="description-section">
    <ul>
      <li><b>Company/Group: </b>Bose</li>
      <li><b>My Role: </b>Mechanical Engineer</li>
      <li><b>Dates: </b>June 2018 - December 2018</li>
    </ul>
  </div>
  <button class="accordion"><h2>Details</h2></button>
  <div id="details" class="description-section">
    <p>
      The Bose Prototyping group were interested in designing a augmented reality headset for use with Bose Spatial Audio Technology. The 
      design would include head and hand tracking, based on an open source concept by Leap Motion. This was an open-ended project,
      so the requirements formed over time.
    </p>
  </div>
  <button class="accordion"><h2>Design Requirements</h2></button>
  <div id="requirements" class="description-section">
    <ul>
      <li>Integrated and accurate hand tracking to create a seamless experience for the user</li>
      <li>Highest resolution screens possible for the given size restrictions around the persons head</li>
      <li>50/50 transmission-reflection ratio for the optics to create a visually attractive overlay for the user</li>
      <li>Provide a comfortable fit to the user for extended use</li>
      <li>Head tracking to create an experience that can be linked to the physical room</li>
      <li>Spatial audio experience to showcase the use case of this technology with immersive audio</li>
    </ul>
  </div>
  <button class="accordion"><h2>Approach</h2></button>
  <div id="approach" class="description-section">
    <p>
      As an example of the iteration process, the optics went through a number of versions to obtain the targeted 50/50 
      transmission-reflection ratio so that the user can see the outside world clearly as well as the reflection from the 
      screens. In the first attempt, clear acrylic was machined into the desired shape and mirror film was then appled to the outer 
      face. However, the flat mirror film did not cleanly form to the curved optics, despite attempted applications with window spray 
      and heat. Next, using the same clear acrylic, we attempted to get the correct ratio by using a thin layer of mirror spray. This 
      attempt is shown in "Version 1 of hand tracking", and it clearly did not give the right ratio. The most recent version of the 
      optics were made by finding acrylic with transmission-reflection ratio as close as possible to the desired one, machining a 
      block for the acrylic to be thermoformed onto and then cutting the acrylic into the desired shape. The optics still require 
      improvements to increase optical clarity and reduce imperfections. 
    </p>
  </div>
  <button class="accordion"><h2>Results/Outcome</h2></button>
  <div id="results" class="description-section">
    <p>
      Finally, I  Integrated Bose Spatial Audio technology into the frame, and created a simple spatial audio experience 
      on Unity, where a user can move a set of objects around a room to change the direction from which the audio is being 
      emitted. This device was used to display the potential for augmented reality to create new audio experiences for both 
      customers and researchers. 
    </p>
  </div>
</div>
<div class="main-content">
  <div class="portfolio augmented">
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/augmented_collection/headset_V1.jpg')}}" data-fancybox="augmented_group" data-caption="The headset uses 3D printed parts
      attached with small screws. The optics here have a one-way mirror film attached">
        <img src="{{ url_for('static', filename='images/augmented_collection/headset_V1.jpg')}}" alt="A photograph of the headset on a table">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/augmented_collection/MirrorSpray.jpg')}}" data-fancybox="augmented_group" data-caption="The second version of the optics used
      a mirror film spray to obtain the right reflection-transmission ratio" >
        <img src="{{ url_for('static', filename='images/augmented_collection/MirrorSpray.jpg')}}" alt="A photograph of the lens and mirror spray in a spray booth">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/augmented_collection/MirrorSpray2.jpg')}}" data-fancybox="augmented_group" data-caption="A comparison of the mirror film (left)
      and mirror spray (right). The spray improved the optical clarity, but was still not ideal" >
        <img src="{{ url_for('static', filename='images/augmented_collection/MirrorSpray2.jpg')}}" alt="3 lenses on a table, 1 on the left, 2 on the right.">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/augmented_collection/headset_V2.jpg')}}" data-fancybox="augmented_group" data-caption="The second version of the headset
      included the mirror spray optics and a adjustable head attachment taken from a welders mask" >
        <img src="{{ url_for('static', filename='images/augmented_collection/headset_V2.jpg')}}" alt="A photograph of the updated headset on a table">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/augmented_collection/show1.mp4')}}" data-fancybox="augmented_group" data-caption="This video shows the first implementation of 
      the full Head Mounted Device. Here, the optics have been made by machining optically clear acrylic and applying a thin layer of mirror spray. 
      However, this did not give the desired reflection-transmission ratio." >
          <img src="{{ url_for('static', filename='images/augmented_collection/show1_thumbnail.jpg')}}" alt="Filmed from the point of view of someone wearing the headset, I move
          my hand across and an overlay of a robotic hand can be seen over mine">
          <span class="play-button"><i class="fas fa-play"></i></span>
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/augmented_collection/Thermo.jpg')}}" data-fancybox="augmented_group" data-caption="A piece of plastic with the desired 
      reflection-transmission ratio is thermoformed using the machined, curved metal block on the left, giving the desired curvature. The plastic is then cut on the engraved woodedn 
      block in the middle, giving the desired shape" >
        <img src="{{ url_for('static', filename='images/augmented_collection/Thermo.jpg')}}" alt="A curved metal block, curved wooden block, and optics on a table">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/augmented_collection/headset_V3_2.jpg')}}" data-fancybox="augmented_group" data-caption="The Third version of headset includes trackers
      on the front for an Optitrack system placed in the room, a built in slot for the leap motion tracker and screen and screen drivers from another open source headset" >
        <img src="{{ url_for('static', filename='images/augmented_collection/headset_V3_2.jpg')}}" alt="A photograph of the headset on a stand">
      </a>
    </div>
  </div>
</div>
{% endblock %}