<!DOCTYPE html>
<html lang="en"> 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <!-- My css-->
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/style4.css')}}">
    <!-- My Icon-->
    <link rel="shortcut icon" href="{{url_for('static', filename='images/cog.ico')}}">
    <title>
        ABOUT ME | Conor Kirby
    </title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head> 
<body>
    <header>
        <div id="navigation">
            <div class="logo">
                <img src="{{url_for('static', filename='images/mylogo-centred.png')}}" alt="A handshake between a human and robot hand, forming the shape of a heart"></img>
            </div>
            <div class ="my-name">
                Conor Kirby
            </div>
            <button class = "mic-button" onclick=record() onkeypress=record() aria-label="Voice Navigation">
                <img id="changingImage" src="{{url_for('static', filename='images/microphone.svg')}}" alt="A small image of a microphone. Click to navigate by voice">
            </button>
            <span>
                <a class="nav-link active" href="/home"><i class="fas fa-user"></i><p>About me <br> əˈbaʊt mi</p></a>
            </span>
            <span>
                <a class="nav-link" href="/portfolio"><i class="fas fa-laptop-code"></i><p>Portfolio <br> pɔːtˈfəʊliəʊ </p></a>
            </span>
            <span>
                <a class="nav-link" href="/other"><i class="fas fa-laptop-code"></i><p>Other Sites <br> ˈʌðə saɪts</p></a>
            </span>
            <span>
                <a class="nav-link" href="/spring"><i class="fas fa-laptop-code"></i><p>Spring<br> sprɪŋ </p></a>
            </span>
            <span>
                <a class="nav-link" href="/augmented"><i class="fas fa-laptop-code"></i><p>Augmented<br> ɔːgˈmɛntɪd </p></a>
            </span>
            <span>
                <a class="nav-link" href="/moonshot"><i class="fas fa-laptop-code"></i><p>Robot 1<br> ˈrəʊbɒt wʌn</p></a>
            </span>
            <span>
                <a class="nav-link" href="/yoyo"><i class="fas fa-cogs"></i><p>Yo-yo <br> jəʊ-jəʊ</p></a>
            </span>
            <span>
                <a class="nav-link" href="/SHI"><i class="fas fa-cogs"></i><p>Robot 2<br> ˈrəʊbɒt tuː</p></a>
            </span>
            <span>
                <a class="nav-link" href="/DSC"><i class="fab fa-accessible-icon"></i><p>Volunteer<br> ˌvɒlənˈtɪə</p></a>
            </span>
            <span>
                <a class="nav-link" href="/infinity"><i class="fas fa-brush"></i><p>Infinity <br> ɪnˈfɪnɪti </p></a>
            </span>
            <span>
                <a class="nav-link" href="/ligo"><i class="fas fa-tape"></i><p>Physics 1 <br> ˈfɪzɪks wʌn</p></a>
            </span>
            <span>
                <a class="nav-link" href="/muon"><i class="fas fa-tape"></i><p>Physics 2 <br> ˈfɪzɪks tu:</p></a>
            </span>
        </div>
    </header>
    <main id="swup" class="transition-fade">
        <div class="main-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <!-- My Font Awesome-->
    <script src="https://kit.fontawesome.com/0a89946359.js" crossorigin="anonymous"></script>
    <!-- Fancybox Lightbox -->
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <!-- My stuff above? -->
    <script src="{{ url_for('static',filename='../static/scripts/portfolio_images.js')}}"></script>
    <!-- swup transitions -->
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>   

    <!-- My Javascript-->
    <script src="{{ url_for('static',filename='../static/scripts/SwupScrollPlugin.js')}}"></script>
    
    <!-- <script src="{{ url_for('static',filename='../static/scripts/mobile_menu.js')}}"></script>   --> 
    <script defer src="{{ url_for('static',filename='../static/scripts/my_transition.js')}}"></script> 
    <script src="{{ url_for('static',filename='../static/scripts/voice_recognition.js')}}"></script>
    
</body>
</html> 
