{% extends "base.html" %}
{% block title %}
Conor Kirby - About Me
{% endblock %}

{% block content %}

<h1>About Me</h1>

<div class="main-content">
    <div class="profile">
        <div class="profile-image">
            <img src="{{ url_for('static',filename='../static/images/me.jpg')}}" alt="A black and white photograph of me in a suit and bowtie">
        </div>
        <div class="break"></div>
        <div class="name">Conor Kirby</div>
        <div class="break"></div>
        <div class="tagline">Mechanical Engineer</div>
        <div class="break"></div>
        <div class="bio">
            <h2><u>My Design Philosophy</u></h2>
            <p>
                Designing with accessibility in mind always leads to better design. As an engineer and creator, it is my responsibility to ensure
                that what I create can be used by everyone. 
            </p>
            <p>
                When it came time to redesigning my engineering portfolio, I realised that it was the perfect opportunity to explore accessible web design, with the goal of 
                understanding what the digital world looks and feels like for other people.
            </p>
            <p>
                Below I describe some of the accessible features and tools that I use. Please use the buttons on the left to navigate to my engineering portfolio. Alternatively,
                click on the microphone and read out the name of a link below it (pronunciation given below each link). 
            </p>
        </div>
        <div class="break"></div>
        <div class="learning navigation">
            <i class="fas fa-mouse"></i>
            <div class="learning-title">Navigation</div>
            <div class="textblock">
                <ul>
                    <li>Voice Recognition & International Phonetic Alphabet</li>
                    <li>Tab Navigation</li>
                    <li>Appropriate Heading Structure</li>
                </ul>
            </div>
        </div>
        <div class="learning fonts">
            <i class="fas fa-eye"></i>
            <div class="learning-title">Visibility</div>
            <div class="textblock">
                <ul>
                    <li>WCAG AAA Font Contrast</li>
                    <li>Large Image Sizes</li>
                    <li>Adjustable Font Sizes (Todo)</li>
                </ul>
            </div>
        </div>   
        <div class="learning screen-readers">
            <i class="fas fa-book-reader"></i>
            <div class="learning-title">Screen Readers</div>
            <div class="textblock">
                <ul>
                    <li>Image Alt-text</li>
                    <li>Appropriate Heading Structure</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
                <!-- <p>
                    I am a multi-disciplinary Engineer with a BSc in Mechanical Engineering & Physics from MIT and 
                    currently pursuing a MSc in Advanced Mechanical Engineering at Imperial College London. 
                </p>
                <p>
                    I am interested in technology for those with neurological and neurodevelopmental disorders. I aspire to create things that enable independence and empower 
                    the user. 
                </p>
                <p>
                    I have tried to design this website to be as accessible as possible. Clicking on the microphone icon will also enable Voice Navigation (it must be clicked
                    each time to use it at the moment) and by saying the name of one of the pages below, it will open. IPA is also given for pronunciation. If you have any difficulties navigating this website, please let me know.
                    The website is currently not optimised for mobile, so please take a look on desktop if you can. I will try to change that one day... 
                </p>
                <p>Feel free to <a class= "mail" href="mailto:conorkirby1@gmail.com"> <b>Contact me by email</b></a> or <a class="open-pdf-resume" href="{{ url_for('static',filename='../static/documents/Resume.pdf')}}"><b>View my Resume</b></a></p>
                <ul id="socialContainer" class="navbar-nav flex-column text-left">
                    <li class="social-item">
                        Connect with me: <a class="social-link" href="https://www.linkedin.com/in/conor-kirby-631b0b124/"><i class="fab fa-linkedin-in fa-fw"></i><b>LinkedIn</b></a>
                    </li>
                    <li class="social-item">
                        Code with me: <a class="social-link" href="https://github.com/ckirby19"><i class="fab fa-github fa-fw"></i><b>Github</b></a>
                    </li>
                    <li class="social-item">
                        Draw with me: <a class="social-link" href="https://www.artstation.com/ckirby97"><i class="fab fa-artstation fa-fw"></i><b>ArtStation</b></a>
                    </li>
                </ul> -->
        </div>
        
    </div>
</div>


{% endblock %}
