{% extends "base.html" %}
{% block content %}

<h1>About Me</h1>

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
    <div class="container">
        <div class="profile-teaser media flex-column flex-lg-row"> 
            <div class="media-body">
                <h2 class="name font-weight-bold mb-1">Conor Kirby</h2>
                <div class="tagline mb-3">Engineer &amp; Designer</div>
                <div class="bio mb-4">
                    <p>
                        I am a multi-disciplinary Engineer with a BSc degree in Mechanical Engineering & Physics from MIT and 
                        currently pursuing a Master's degree in Mechanical Engineering at Imperial College London. I am interested 
                        in technology for those with neurological and neurodevelopmental disorders. I have tried to design this 
                        website with accessibility in mind (as the world wide web was originally intended to <a href="https://www.w3.org/Press/IPO-announce">be</a>). 
                        This website can be navigated around using screen readers, keyboard controls only or with voice recognition.  
                    </p>
                    <p>Feel free to contact me by email conorkirby1@gmail.com</p>
                </div>
                <div class="mb-4">
                    <a class="btn btn-secondary mb-3" href="{{ url_for('static',filename='../static/documents/Resume.pdf')}}"><i class="fas fa-file-alt mr-2"></i><span class="d-none d-md-inline">View</span> Resume</a>
                </div>
            </div>
            <img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="{{ url_for('static',filename='../static/images/me.jpg')}}" alt="">
        </div>
    </div>
</section>

{% endblock %}
