{% extends "base.html" %}
{% block content %}

<h1>Multidimensional Infinity Mirror</h1>

<div class="project-description">
  <button class="accordion"><h2>Overview</h2></button>
  <div id="overview" class="description-section">
    <ul>
      <li><b>Company/Group: </b>Personal Project</li>
    </ul>
  </div>
  <button class="accordion"><h2>Details</h2></button>
  <div id="details" class="description-section">
    <p>
      After using mirror film for much of Summer 2018 and finding myself with plenty of it spare, I wanted to see what else I could 
      do with it. I came across a short video of a dodecahedron infinity mirror and was amazed by its beauty and deep-space feeling. 
      Without an explanation of how it was designed, I decided to try and make it myself using the spare mirror film that I had 
      available.  
    </p>
  </div>
  <button class="accordion"><h2>Design Constraints</h2></button>
  <div id="requirements" class="description-section">
    <ul>
      <li>Thickness of clear acrylic available to me</li>
      <li>Physical dimensions of the LED strips</li>
      <li>Power requirements to run the electronics safely</li>
      <li>Mechanical connections needed to hold the shape together and allow for it to be carried</li>
    </ul>
  </div>
  <button class="accordion"><h2>Approach</h2></button>
  <div id="approach" class="description-section">
    <p>
      I began by calculating the required angles to form a dodecahedron, and designed it in <b>Solidworks</b> parametrically so that I could vary the edge length. By calculating the number
      of total LEDs that would be needed given the total edge length and the LEDs per metre, I also found the total current and thus power supply required to run the LEDs.
      I <b>3D printed</b> the sides and connectors, <b>laser cut</b> the hexagon faces and applied mirror film to each face.  
    </p>
  </div>
  <button class="accordion"><h2>Results/Outcome</h2></button>
  <div id="results" class="description-section">
    <p>
      See below and let me know if you have any cool ideas that could add to it! I envision other shapes, like hypercubes or rotating components with LEDS on the inside to create
      a Persistance Of Vision (POV) system. The final picture below shows a small concept piece I made with POV in mind
    </p>
  </div>
</div>
<div class="main-content">
  <div class="portfolio infinity">
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
      <a href="{{ url_for('static', filename='images/infinity_collection/Partial.jpg')}}" data-no-swup data-fancybox="infinity_group" data-caption="The design was created in two halves
      with each side wired and tested individually before joining.">
        <img src="{{ url_for('static', filename='images/infinity_collection/Partial.jpg')}}" alt="six sides of a dodecahedron attached, shown sitting on a table, LEDs not on">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 5;">
      <a href="{{ url_for('static', filename='images/infinity_collection/BluePartial.jpg')}}" data-no-swup data-fancybox="infinity_group" data-caption="I tested strips of LEDs often to check
      for failure points and fixed it as I went along. I was also able to visualise the final look of the piece from the half shape" >
        <img src="{{ url_for('static', filename='images/infinity_collection/BluePartial.jpg')}}" alt="six sides of a dodecahedron attached, shown sitting on a table, LEDs showing a deep Blue">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
        <a href="{{ url_for('static', filename='images/infinity_collection/halfshape.mp4')}}" data-no-swup data-fancybox="infinity_group" data-caption="After fixing the wiring
        and adding more interesting arduino code, one half of the piece was complete" >
            <img src="{{ url_for('static', filename='images/infinity_collection/halfshape_thumbnail.jpg')}}" alt="The same half-dodecahedron with LEDs changing colour across the rainbow">
            <span class="play-button"><i class="fas fa-play" style="color:white;"></i></span>
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 5;">
        <a href="{{ url_for('static', filename='images/infinity_collection/top.jpg')}}" data-no-swup data-fancybox="infinity_group" data-caption="From above" >
          <img src="{{ url_for('static', filename='images/infinity_collection/top.jpg')}}" alt="A photograph showing the infinity effect - lights reflect and go on forever">
        </a>
      </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
      <a href="{{ url_for('static', filename='images/infinity_collection/red.jpg')}}" data-no-swup data-fancybox="infinity_group" data-caption="" >
        <img src="{{ url_for('static', filename='images/infinity_collection/red.jpg')}}" alt="The full piece is shown from an angle, the lights on a reddish hue">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
      <a href="{{ url_for('static', filename='images/infinity_collection/yellow.jpg')}}" data-no-swup data-fancybox="infinity_group" data-caption="" >
        <img src="{{ url_for('static', filename='images/infinity_collection/yellow.jpg')}}" alt="The full piece is shown from an angle, the lights on a yellowish hue">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 5;">
        <a href="{{ url_for('static', filename='images/infinity_collection/Finalbuild.mp4')}}" data-no-swup data-fancybox="infinity_group" data-caption="The final build - some
        room for improvement in the surface reflectivity and there were difficulties removing all the bubbles from the surface" >
            <img src="{{ url_for('static', filename='images/infinity_collection/Finalbuild_thumbnail.jpg')}}" alt="A video where I move my camera along the outside of the piece, showing
            it from many angles">
            <span class="play-button"><i class="fas fa-play" style="color:white;"></i></span>
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
      <a href="{{ url_for('static', filename='images/infinity_collection/V2.jpg')}}" data-no-swup data-fancybox="infinity_group" data-caption="I worked on a second version of the 
      piece, using a Persistance of Vision device with a single line of LEDs wrapped around a spinning arc, inside a box with reflective film. " >
        <img src="{{ url_for('static', filename='images/infinity_collection/V2.jpg')}}" alt="Several streaks of light inside of a box">
      </a>
    </div>
    
  </div>
</div>
{% endblock %}