{% extends "base.html" %}
{% block content %}

<h1>MIT 2.007 Moonshot</h1>

<div class="project-description">
  <button class="accordion"><h2>Overview</h2></button>
  <div id="overview" class="description-section">
    <ul>
      <li><b>Class Details: </b>2.007: Design and Manufacturing I</li>
      <li><b>Dates: </b>February 2019 - May 2019</li>
    </ul>
  </div>
  <button class="accordion"><h2>Details</h2></button>
  <div id="details" class="description-section">
    <p>
      A project-based class for undergraduate students that culminates in an end-of-semester robotics competition. It places robots – each built by a singular student using a 
      universal kit of tools and components – head to head during an event. A stage is created for each student to navigate their robot around, with an RC controller or autonomously
      for more points, and complete different tasks in order to obtain points. Different ways to collect points included collecting rocks from the ground, rotating a handle as fast 
      as possible, and pulling a latch. 
    </p>
  </div>
  <button class="accordion"><h2>Problem Description</h2></button>
  <div id="problem" class="description-section">
    <p>
      My focus was on how to collect rocks quickly and efficiently. I used a Pugh table to decide what overall game strategy to use, and then to decide what
      method to use to collect the rocks.
    </p>
  </div>
  <button class="accordion"><h2>Design Criteria</h2></button>
  <div id="requirements" class="description-section">
    <ul>
      <li>Estimated Points Total</li>
      <li>Likelihood to fail</li>
      <li>Ease of Implementation</li>
      <li>Ease of Testing</li>
      <li>Speed in Competition</li>
    </ul>
  </div>
  <button class="accordion"><h2>Approach</h2></button>
  <div id="approach" class="description-section">
    <p>
      The process for both the robot as a whole and the rock collecting component can be seen visually below. The initial work on the robot was focused on understanding the basics
      of sheet metal forming and robot construction. I used a simple two-wheel drive system with a caster wheel at the front, which was soon replaced with a turned piece of Delrin to reduce
      friction and improve mobility. Since the competition required bringing the collected rocks up hill, back to the starting point, I soon changed to a four wheel drive system to cope with
      the increased weight of the robot. I then redesigned the robot to move the centre of mass further back, to make it easier for the robot to climb back up the ramp. 
    </p>
    <p>
      The rock collecting component was inspired by numerous roller inlet designs from other robot competitions. Rubber bands provided an easy to build and adaptive method for collecting
      rocks. The initial concept was created using laser cut acrylic pieces, connected with a steel hexagonal rod and separated using hollow aluminium tubing. The rubber bands were
      initially placed straight on the device, but with some early testing I found that twisting the rubber bands, to create a parabolic shape, would better conform to different
      rock shapes. I created a simple rig to test the concept, and then added a motor to test the device running continuously. 
    </p>
  </div>
  <button class="accordion"><h2>Results/Outcome</h2></button>
  <div id="results" class="description-section">
    <p>
      In practice, my robot was able to collect 7-8 rocks in time and return to the starting point. In the competition, however, unfortunately the rocks were placed very close together,
      which we did not know would happen, and so my robot was not very well prepared for that. I managed to collect 2 rocks, but as can be seen in the video below, in dramatic fashion,
      I didn't quite make it! Oh well, the most important thing was the learning process and the experience of my first robotics competition!
    </p>
  </div>
</div>
<div class="main-content">
  <div class="portfolio moonshot">
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/Notebook1.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="I came up with 5 different rock collecting 
      components, including a roller inlet, a claw and a vacuum system">
        <img src="{{ url_for('static', filename='images/moonshot_collection/Notebook1.jpg')}}" alt="Drawings of different rock collecting components, 
        and a table with criteria to assess each on">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/Notebook2.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="I used a Pugh chart to assess each strategy and
      came to the conclusion that rock collecting would be the best" >
        <img src="{{ url_for('static', filename='images/moonshot_collection/Notebook2.jpg')}}" alt="A table with categories on the left and each each strategy give a score of 0,-1 or 1 for it">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/RobotV1.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="The first robot design focused on planting a flag
      on the surface, and was used for practicing sheet metal forming and learning how to power and operate the robot" >
        <img src="{{ url_for('static', filename='images/moonshot_collection/RobotV1.jpg')}}" alt="A 3 wheeled robot made from sheet metal acrylic, with foam board attached to front.">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 3;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/RobotV3.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="The second robot design focused on the first implementation
      of the rock collecting strategy, with the caster wheel replaced with Delrin. The roller inlet at the front moves rocks onto the ramp">
        <img src="{{ url_for('static', filename='images/moonshot_collection/RobotV3.jpg')}}" alt="A photograph of the second version of the robot">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 3;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/RobotV4.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="A cut section with string lined across it in a 
      spider web shape was added at the back for the rocks to fall into and stay. The back rest prevents the rocks falling off moving uphill." >
        <img src="{{ url_for('static', filename='images/moonshot_collection/RobotV4.jpg')}}" alt="Third version of the robot, in the middle of collecting rocks during a test.">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 3;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/RobotFinal.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="The previous string design worked well,
      but the robot needed more weight at the back for going up hill, so I replaced the light weight string with a piece of aluminium going across the robot bottom." >
        <img src="{{ url_for('static', filename='images/moonshot_collection/RobotFinal.jpg')}}" alt="Final version of the robot, again in the middle of collecting rocks.">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 3;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/RollerV1.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="The laser cut, acrylic pieces have small ridges
      for the rubber bands to sit and the acrylic pieces are separated at a distance, using a hollow acrylic seperator, that keeps the rubber bands in tension but allows them to 
      conform to the shape of the rock." >
        <img src="{{ url_for('static', filename='images/moonshot_collection/RollerV1.jpg')}}" alt="Inlet roller. There are two acrylic pieces with holes in the middle where a metal rod connects them.">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 5;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/RollerV2.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="I changed the rubber band connections
      to be twisted, to form a parabolic shape that was much better at collecting rocks. This made it harder for the rocks to get through the rubber bands and instead the rocks would
      sit on the rubber band surface" >
        <img src="{{ url_for('static', filename='images/moonshot_collection/RollerV2.jpg')}}" alt="A rock is shown sitting on the rubber bands">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 3;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/rocktest1.mp4')}}" data-no-swup data-fancybox="moonshot_group" data-caption="I designed a proof of concept test rig to 
      confirm that the rubber bands would move the rocks onto the ramp." >
          <img src="{{ url_for('static', filename='images/moonshot_collection/rocktest1_thumbnail.jpg')}}" alt="A video, several rocks collected by the inlet roller, with the 
          roller manually spun by me">
          <span class="play-button"><i class="fas fa-play"></i></span>
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/RollerV3.jpg')}}" data-no-swup data-fancybox="moonshot_group" data-caption="The parabolic shape made it a lot harder
      for rocks to go through the rubber bands and end up in the middle of the inlet roller. The roller would push the rocks onto the ramps, and metal block prevented rocks from falling
      off." >
        <img src="{{ url_for('static', filename='images/moonshot_collection/RollerV3.jpg')}}" alt="The parabolic shape of the inlet roller rubber bands, with rocks on the ramp">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 3;">
      <a href="{{ url_for('static', filename='images/moonshot_collection/rocktest2.mp4')}}" data-no-swup data-fancybox="moonshot_group" data-caption="After measuring the mass of the largest rock,
      I determined the torque required for my motor and added this to my inlet roller. Initial tests were promising" >
          <img src="{{ url_for('static', filename='images/moonshot_collection/rocktest2_thumbnail.jpg')}}" alt="A second video of the inlet roller on the stage, collecting rocks.
          I am manually moving the whole contraption around, but the inlet roller is rotating automatically using a motor">
          <span class="play-button"><i class="fas fa-play"></i></span>
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 8;">
        <a href="{{ url_for('static', filename='images/moonshot_collection/comp2.mp4')}}" data-no-swup data-fancybox="moonshot_group" data-caption="Please enjoy a small video from the Final
        competition!" >
            <img src="{{ url_for('static', filename='images/moonshot_collection/comp_thumbnail.jpg')}}" alt="A video of the final competition. I collect two rocks and return back to 
            the top, when the timer reaches zero, my robot is not back in the box (by a few millimetres!) so I scored no points.">
            <span class="play-button"><i class="fas fa-play" style="color:white;"></i></span>
        </a>
    </div>
  </div>
</div>
{% endblock %}