{% extends "base.html" %}

{% block title %}
Muon
{% endblock %}


{% block content %}

<h1>Miniature cosmic muon counter</h1>

<div class="project-description">
  <button class="accordion"><h2>Overview</h2></button>
  <div id="overview" class="description-section">
    <ul>
      <li><b>Company/Group: </b> Laboratory of Nuclear Science (LNS), MIT</li>
      <li><b>My Role: </b>Research Assistant</li>
      <li><b>Dates: </b>September 2015 - August 2016</li>
    </ul>
  </div>
  <button class="accordion"><h2>Details</h2></button>
  <div id="details" class="description-section">
    <p>
      The LNS, with the IceCube group in Wisconsin, are focused on a Neutrino Observatory in the South Pole that uses spherical optical sensors placed deep in the ice to detect the 
      produced radiation when Neutrinos travel through the ice and interact. As part of this research, the group was also working on a small desktop muon counter to provide well defined
      tracking of the muons created during the experiment. The counter would also become a teaching tool for undergraduates  
    </p>
  </div>
  <button class="accordion"><h2>Approach</h2></button>
  <div id="approach" class="description-section">
    <p>
      In brief, the device works by using a piece of scintillator attached to a Silicon PhotoMultiplier (SiPM). The scintillator is excited by charged particles (Muons in this case) 
      going through it, and produces light in response, which the photomultiplier then receives and creates a voltage in response. In order to prevent the photomultipliers from 
      reacting to the billions of photons from the lights sources around us, these components are places in a light tight aluminium box that muons can penetrate but photons cannot. 
      This voltage signal is then amplified and digitilised so that it can be read by an arduino and an event is recorded to an OLED screen.

      My role was to work alongside a graduate student to test different design aspects of the device to see what could be improved, as well as to work on building my own one to 
      test how viable this is as an undergraduate project. As part of the team, I was responsible for creating an inexpensive, light tight enclosure from which different 
      light sensitive components could be compared, such as SiPMs and photodiodes, allowing us to debug these components easily and compare their effectiveness. 
      Making the device also involved CAD design, milling, soldering, signal processing and electronics design and testing. 
    </p>
  </div>
  <button class="accordion"><h2>Results/Outcome</h2></button>
  <div id="results" class="description-section">
    <p>
      A <a href="https://arxiv.org/abs/1606.01196"><b>published paper</b></a> from this work, and an article about the work published on 
      <a href="https://www.symmetrymagazine.org/article/the-100-muon-detector"><b>Symmetry Magazine</b></a></li>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="portfolio muon">
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
        <a href="{{ url_for('static', filename='images/muon_collection/Complete.jpg')}}" data-no-swup data-fancybox="muon_group" data-caption="Blown up view of full device">
          <img src="{{ url_for('static', filename='images/muon_collection/Complete.jpg')}}" alt="A CAD rendering">
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
      <a href="{{ url_for('static', filename='images/muon_collection/LightTightBox.jpg')}}" data-no-swup data-fancybox="muon_group" data-caption="Light tight box design to prevent
      ambient light from entering the light-detector circuit. BNC cable used to get signal out.">
        <img src="{{ url_for('static', filename='images/muon_collection/LightTightBox.jpg')}}" alt="A CAD rendering showing both halves of box design">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
        <a href="{{ url_for('static', filename='images/muon_collection/schematics.jpg')}}" data-no-swup data-fancybox="muon_group" data-caption="SIPM picks up signal which is then
        amplified, and peak detector is used to detect the highest amplitude in the signal. Signal digitilised and sent to Arduino">
          <img src="{{ url_for('static', filename='images/muon_collection/schematics.jpg')}}" alt="Detailed circuit diagram of device. Amplifier, ">
        </a>
      </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/muon_collection/muon-event.jpg')}}" data-no-swup data-fancybox="muon_group" data-caption="The voltage output from the light tight 
      box during a muon event shown on oscilloscope. The rest of the circuit is needed to process this signal">
        <img src="{{ url_for('static', filename='images/muon_collection/muon-event.jpg')}}" alt="Signal from Aluminium box, shown on oscilloscope">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
        <a href="{{ url_for('static', filename='images/muon_collection/Electronics.jpg')}}" data-no-swup data-fancybox="muon_group" data-caption="We placed the rest of the circuit in 
        a hollowed out ethernet box, with holes cut out for power supply and aluminium panel fitted at the back for grounding.">
          <img src="{{ url_for('static', filename='images/muon_collection/Electronics.jpg')}}" alt="Photograph of electronics circuit with coloured wires ">
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 6;">
      <a href="{{ url_for('static', filename='images/muon_collection/muon-main.jpg')}}" data-no-swup data-fancybox="muon_group" data-caption="The green light flashes whenever
      a muon event is counted, with OLED screen showing total count, run time and muon count rate">
        <img src="{{ url_for('static', filename='images/muon_collection/muon-main.jpg')}}" alt="An aluminium box sitting on a white container, with screen displaying data next to it">
      </a>
    </div>
  </div>
</div>
{% endblock %}