{% extends "base.html" %}
{% block content %}

<h1>Portfolio</h1>


<div id="myBtnContainer" class="filter-container">
    <button class="filter active" onclick="filterSelection('all')"> Show all</button>
    <button class="filter" onclick="filterSelection('meche')"> Mechanical Design</button>
    <button class="filter" onclick="filterSelection('elec')"> Electrical Design</button>
    <button class="filter" onclick="filterSelection('python')"> Python </button>
    <button class="filter" onclick="filterSelection('unity')"> Unity/C#</button>
    <button class="filter" onclick="filterSelection('assistive')"> Assistive Tech</button>
    <button class="filter" onclick="filterSelection('research')"> Research</button>
    <button class="filter" onclick="filterSelection('art')"> Art</button>
</div>

<div class="main-content">
    <div class="portfolio everything">
        <div class="portfolio-item portfolio-page assistive elec" style="grid-row: span 2;grid-column: span 2;">
            <a href="/spring">
                <img src="{{ url_for('static',filename='../static/images/spring-main.png')}}" alt="A top-down photograph of a block placing game">
            </a>
        </div>
        <div class="portfolio-item portfolio-page meche unity" style="grid-row: span 2;grid-column: span 2;">
            <a href="/augmented">
                <img src="{{ url_for('static',filename='../static/images/augmented-main.jpg')}}" alt="A photograph of an augmented reality headset on a stand">
            </a>
        </div>
        <div class="portfolio-item portfolio-page meche" style="grid-row: span 2;grid-column: span 2;">
            <a href="/moonshot">
                <img src="{{ url_for('static',filename='../static/images/moonshot-main.jpg')}}" alt="A top-down photograph of a robot with rocks on it">
            </a>
        </div>
        <div class="portfolio-item portfolio-page meche" style="grid-row: span 2;grid-column: span 2;">
            <a href="/yoyo">
                <img src="{{ url_for('static',filename='../static/images/yoyo-main.jpg')}}" alt="A CAD design of a yoyo">
            </a>
        </div>
        <div class="portfolio-item portfolio-page meche unity" style="grid-row: span 2;grid-column: span 2;">
            <a href="/SHI">
                <img src="{{ url_for('static',filename='../static/images/shi-main.png')}}" alt="A 4 wheeled robot climbing a wall">
            </a>
        </div>
        <div class="portfolio-item portfolio-page python assistive" style="grid-row: span 2;grid-column: span 4;">
            <a href="/DSC">
                <img src="{{ url_for('static',filename='../static/images/dsc-main.png')}}" alt="A poster for a virtual summer sports festival">
            </a>
        </div>
        <div class="portfolio-item portfolio-page meche art" style="grid-row: span 2;grid-column: span 2;">
            <a href="/infinity">
                <img src="{{ url_for('static',filename='../static/images/infinity-main.jpg')}}" alt="A dodecahedron shape with lights on the inside">
            </a>
        </div>
        <div class="portfolio-item portfolio-page research" style="grid-row: span 2;grid-column: span 4;">
            <a href="/ligo">
                <img src="{{ url_for('static',filename='../static/images/ligo-main.jpg')}}" alt="A diagram for an optics experiment">
            </a>
        </div>
        <div class="portfolio-item portfolio-page research elec" style="grid-row: span 2;grid-column: span 4;">
            <a href="/muon">
                <img src="{{ url_for('static',filename='../static/images/muon-main.jpg')}}" alt="3 white containers placed on a table">
            </a>
        </div>
        
    </div>
</div>

{% endblock %}