{% extends "base.html" %}
{% block content %}

<h1>MIT 2.008 Moire Yoyo</h1>

<div class="project-description">
  <button class="accordion"><h2>Overview</h2></button>
  <div id="overview" class="description-section">
    <ul>
      <li><b>Class Details: </b>2.008: Design and Manufacturing II</li>
      <li><b>My Role: </b>Team Member and Class Tutor</li>
      <li><b>Dates: </b>February 2017 - May 2017</li>
    </ul>
  </div>
  <button class="accordion"><h2>Details</h2></button>
  <div id="details" class="description-section">
    <p>
      We were tasked with designing the parts to a yoyo using plastic manufacturing processes, like injection molding and 
      thermoforming. For the injection molding process, we also had to design the core and cavity in Solidworks, and create the G-code for a CNC Mill and Lathe to create the parts 
      using MasterCAM. 
    </p>
  </div>
  <button class="accordion"><h2>Design Requirements</h2></button>
  <div id="requirements" class="description-section">
    <ul>
      <li>Create a controllable process for the production of 50 yoyos (100 parts total) and measure the variation between parts to assess the process capabilities.</li>
      <li>Determine the maximum diameter of yoyo that can be injection molded </li>
      <li>Determine the required gap between the two halfs of the yoyo so it will spin correctly</li>
      <li>Create a memorable and unique design</li>
    </ul>
  </div>
  <button class="accordion"><h2>Approach</h2></button>
  <div id="approach" class="description-section">
    <p>
      
      Our group decided to produce a yoyo that would produce the moire effect. The moire effect is a visual perception that occurs when there are overlapping patterns that have 
      relative translational or rotational motion between them, and can be best seen in this <a href="https://thevinylfactory.com/features/freaky-formats-moire-effect/">design webpage</a>. 
      Because of the high rotational rate at which yoyos spin, we had some difficulty coming up with a design that would show the moire effect using relative rotational motion. 
      Instead we decided that translational motion would be the easiest way of creating this effect. To do this, we designed two patterns that would overlap and rotate at the 
      same rate, with one having a pin off axis from the centre of the plastic piece that would be pressed into the bearing of the yoyo.  

      After coming up with a design, we then designed moulds on Solidworks and produced the G-code on Mastercam so that the moulds could be machined on a CNC mill and lathe.
    </p>
  </div>
</div>
<div class="main-content">
  <div class="portfolio yoyo">
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/yoyo_collection/Yoyo-Final.jpg')}}" data-fancybox="yoyo_group" data-caption="
      The front disk was designed with a pin that would press fit into the bearing. This pin was designed off axis from the centre so that it would rotate around a 
      different axis to the overall yoyo, creating the moire effect
      ">
        <img src="{{ url_for('static', filename='images/yoyo_collection/Yoyo-Final.jpg')}}" alt="A view of the final design on Solidworks. White base with two black wagon wheel shaped 
        parts">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
      <a href="{{ url_for('static', filename='images/yoyo_collection/ExplodedView.jpg')}}" data-fancybox="yoyo_group" data-caption="One side of the yoyo,
       including 4 injection molded parts, 1 thermoformed part, nut, bolt, bearing and a machined spacer
      " >
        <img src="{{ url_for('static', filename='images/yoyo_collection/ExplodedView.jpg')}}" alt="An exploded view of the yoyo on Solidworks">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/yoyo_collection/Yoyo-all.jpg')}}" data-fancybox="yoyo_group" data-caption="Each part of the yoyo were made to press fit into 
      eachother, and thus were designed with tolerances in mind
      " >
        <img src="{{ url_for('static', filename='images/yoyo_collection/Yoyo-all.jpg')}}" alt="A number of half yoyo pieces ready to be put together">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
        <a href="{{ url_for('static', filename='images/yoyo_collection/moire_yoyo.mp4')}}" data-fancybox="yoyo_group" data-caption="A slow motion video of the moire effect in our yoyo
        " >
            <img src="{{ url_for('static', filename='images/yoyo_collection/moire_yoyo_thumbnail2.jpg')}}" alt="The moire effect is shown as a moving pattern in the yoyo">
            <span class="play-button"><i class="fas fa-play"></i></span>
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
        <a href="{{ url_for('static', filename='images/yoyo_collection/3DPrint.jpg')}}" data-fancybox="yoyo_group" data-caption="The mould needed for the thermoformed piece was 3D
        printed and small holes were drilled on the edge of the step shape to allow air to be pulled when placed on the thermoforming machine" >
          <img src="{{ url_for('static', filename='images/yoyo_collection/3DPrint.jpg')}}" alt="An opaque 3D printed piece with support still on it, held in a gloved hand">
        </a>
      </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
      <a href="{{ url_for('static', filename='images/yoyo_collection/Thermoforming1.jpg')}}" data-fancybox="yoyo_group" data-caption="The 3D printed piece was placed in the thermoforming
      machine and the screwed base used to hold it in place" >
        <img src="{{ url_for('static', filename='images/yoyo_collection/Thermoforming1.jpg')}}" alt="A close up photograph of the thermoforming machine">
      </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
        <a href="{{ url_for('static', filename='images/yoyo_collection/Thermoforming2.jpg')}}" data-fancybox="yoyo_group" data-caption="After placing the 3D printed piece, a sqare piece
        of plastic is placed on the base and the device moves it to the heater for a pre-designated amount of time. After heating, the plastic is brought back and placed on a mould
        where it is sucked down onto the surface to form the desired shape" >
          <img src="{{ url_for('static', filename='images/yoyo_collection/Thermoforming2.jpg')}}" alt="A wide photograph of the heater, vacuum and mould of the thermoforming machine">
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
        <a href="{{ url_for('static', filename='images/yoyo_collection/core.jpg')}}" data-fancybox="yoyo_group" data-caption="The core side was machined on a CNC lathe and has four holes
        in the corners for it to be screwed tight to the cavity side" >
          <img src="{{ url_for('static', filename='images/yoyo_collection/core.jpg')}}" alt="A photograph of the square metal piece with a circular shape sticking out of the middle">
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 2;">
        <a href="{{ url_for('static', filename='images/yoyo_collection/mold.jpg')}}" data-fancybox="yoyo_group" data-caption="The cavity side with a sprue hole and runners for the 
        plastic to enter and flow. The small holes show where the plastic pieces are pushed out of the base once they are made. This piece was machined on the CNC Mill" >
          <img src="{{ url_for('static', filename='images/yoyo_collection/mold.jpg')}}" alt="A photograph of a injection moudling cavity, with a fan shape">
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
        <a href="{{ url_for('static', filename='images/yoyo_collection/GCode.jpg')}}" data-fancybox="yoyo_group" data-caption="Solidworks and MasterCAM were used to design each
        piece and generate the G-code for the CNC mill and lathe. There are 3 main types of passes here: An initial facing pass across the whole piece, a 2D contour cut to make
        the fan shape and a drilling pass to create the holes for the plastic to enter" >
          <img src="{{ url_for('static', filename='images/yoyo_collection/GCode.jpg')}}" alt="A screenshot from the Solidworks software">
        </a>
    </div>
    <div class="portfolio-item" style="grid-row: span 2;grid-column: span 4;">
        <a href="{{ url_for('static', filename='images/yoyo_collection/animation.mp4')}}" data-fancybox="yoyo_group" data-caption="Simulations were created of all the mill operations
        to check for failure points and to estimate how long the piece would take" >
            <img src="{{ url_for('static', filename='images/yoyo_collection/animation_thumbnail.jpg')}}" alt="A video taken from the simulation software">
            <span class="play-button"><i class="fas fa-play"></i></span>
        </a>
    </div>
  </div>
</div>
{% endblock %}