* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    height: 100%;
}

body{
    --main-bg-color: #7da1c4;
    --other-bg-color: black;
    --third-bg-color: gray;
    --header-margin: 10%;
    --header-margin-min: 150px
}

header {
    position: fixed;
    width: max(var(--header-margin-min),var(--header-margin));
    top: 0;
    bottom: 0;
    overflow: auto;
    background: var(--main-bg-color);
    color: var(--other-bg-color);
    z-index: 2;
}

main {
    padding-left: max(var(--header-margin-min),var(--header-margin));
    background: white;
    z-index: 1;
}

/* Navigation Bar */

#navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobile-invisible{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-toggle {
    display: none;
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 200%;
}

.logo {
    /* padding-top: 15px;
    padding-left: 32px; */
    color: var(--other-bg-color);
}
.logo img{
    height: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}


.mic-button{
    width: 50%;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--other-bg-color);
    font: inherit;
    cursor: pointer;
    background: none;
    border-radius: 25%;
}

.mic-button img{
    opacity:0.5;
    height:50px;
    margin: 5px;
}

.mic-button:hover img{
   opacity: 1;
} 

.nav-link{
    font-weight: bold;
    color: var(--other-bg-color);
    opacity: 0.65;
    text-align: center;
    justify-content: center;
    height:55px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-link.active{
    opacity: 1;
}

#navigation .nav-link:hover{
    opacity: 1;
    color: var(--main-bg-color)
} 

#navigation .nav-link:hover{
    background: var(--other-bg-color)
} 

.IPA {
    margin: 0;
}

/* .skip-link{
    position: absolute;
    left: -10000px;
} */

/* .skip-link .active{
    position: static;
} */


.list-inline {
    padding-left: 0;
    list-style: none
}

.list-inline a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: var(--other-bg-color);
    color: var(--main-bg-color);

}

.list-inline a:hover {
    opacity: 0.5;
    /* background-color: rgba(0,0,0,0.5); */
    text-decoration: none
}



/* Main Content Generic */



h1 {
    overflow: hidden;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
h1:before, h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
h1:before {
    right: 0.5em;
    margin-left: -50%;
}
  
h1:after {
    left: 0.5em;
    margin-right: -50%;
}

/* About Me */

.profile{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.profile .break{
    flex-basis: 100%;
    height: 2%;

}

.profile .name {
    font-size: 200%
}

.profile .tagline {
    font-size: 150%;
}

.profile .bio {
    width: 80%;
    background-color: var(--main-bg-color);
    color: var(--other-bg-color);
    border-width: 5%;
    border-color: var(--other-bg-color);
    border-style: solid;
    font-size: 150%;
    text-align: center;
    padding: 3%;
    margin: 3%;
}

.profile .profile-image img{
    width: 60%;
    padding: 2%;
    margin: auto;
    display: block;
}
.profile .learning{
    text-align: center;
    font-size: 100%;
}
.profile .learning i{
    font-size: 400%;
}
.profile .learning-title{
    font-weight: bold;
    font-size: 120%;
    margin-top: 1%;
}

/* Portfolio */


.filter-container {
    /* padding-left: 20%;
    padding-right: 20%; */
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* Portfolio Buttons */

.filter {
    border: none;
    background-color: white;
    cursor: pointer;
    color: var(--other-bg-color);
    opacity: 0.6;
  }
  
.filter:hover {
    opacity: 0.8

}

.filter.active, .filter.active:hover {
    border-top: 2px solid var(--other-bg-color);
    opacity: 1;
    font-weight: bold;
    outline: none;
}


.filter:focus {
    outline: 3px solid red;  
}

/* Portfolio Content */

.portfolio-page {
    display: none
}

.portfolio-page.show{
    display: block;
}


/* Individual Project */

.project-description{
    padding: 1% 20%;
    font-size: 1.5rem;
}

.project-description ul{
    padding-left: 30px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 10px;
}

.accordion h2:after{
    content: '\002B';
    font-weight: bold;
    float: right;
    padding-right: 10px;
}


.accordion:focus {
    outline: 3px solid red;  
}

.accordion:hover {
    background-color: var(--main-bg-color);
}

.accordion-link {
    nav-index: -1;
}

.accordion.active, .accordion:hover {
    background-color: var(--main-bg-color);
}

.accordion.active h2:after{
    content: "\2212";
}

.description-section{
    padding: 5px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 1.8;
}

/* Content Area */

.main-content {
    padding: 5%;
    flex: 1 1 80%;
  
}

.portfolio{
    display: grid;
    height: 100%;
    grid-auto-flow: row dense;  
}


.portfolio-item {
    background: white;
}


.portfolio-item a{
    position: relative;
}


.portfolio-item a img{
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.portfolio-item:hover a img{
    opacity: 0.8;
}

.portfolio.everything {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
}

.portfolio.spring{
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 25px;

}

.portfolio.augmented{
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 25px;
}

.portfolio.dsc{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;
}

.portfolio.yoyo{
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;
}

.portfolio.moonshot{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;

}

.portfolio.ligo{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;

}

.portfolio.muon{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;

}

.portfolio.infinity{
    grid-template-columns: repeat(17,1fr);
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;

}

.portfolio.shi{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 25px;

}
.play-button{
    font-size: 3vw;
    color: white;
    z-index: 2;
    position: absolute;
    left: 48%; 
    top: 1%;
}

/* Other Websites */
.other-websites {
    width: 100%;

}

.other-websites th{
    background-color: var(--main-bg-color);
    color: var(--other-bg-color);
}

.other-websites tr:nth-child(even){
    background-color: #d0d3d4;
}

.other-websites td, .other-websites th {
    border-width: 1%;
    border-color: var(--other-bg-color);
    border-style: solid;
    padding: 2%
}

/* Transitions */
.transition-fade {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity:  0;
}

